<table class= "table-bordered fixed">
  <% gridfields.in_groups_of(30, false) do |row| %>
    <tr>
      <% row.each do |gridfield| %>
        <% if gridfield.map.game.current_player_turn_id == current_player.id %>
          <% if gridfield.character == nil && gridfield.gridobject == nil %>
            <% if current_character && current_character.can_move_to?(gridfield) && current_character.action_points_left > 0 %>
              <td style="background: url('<%= image_path gridfield.graphic_url %>')"><%= link_to image_tag('MoveTile.png'), move_character_games_path(gridfield_id: gridfield.id), controller: 'games_controller', action: 'move_character', method: :post %></td>
            <% else %>
              <td style="background: url('<%= image_path gridfield.graphic_url %>')"></td>
            <% end %>
          <% else %>
            <% if gridfield.character != nil %>
              <% if current_character != gridfield.character %>
                <% if gridfield.character.team.player == current_player %>
                  <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                  <%= link_to image_tag(gridfield.character.graphic_url), select_character_games_path(character_id: gridfield.character.id, id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'select_character', method: :post %>
                  </td>
                <% else %>
                  <% if current_character && current_character.char_type == "Human" && current_character.can_attack_range?(gridfield) && current_character.action_points_left > 0 %>
                    <td style="background: url('<%= image_path gridfield.attack_graphic_url %>')">
                    <%= link_to image_tag(gridfield.character.graphic_url), attack_character_games_path(character_id: gridfield.character.id, id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'attack_character', method: :post %>
                    </td>
                  <% elsif current_character && current_character.char_type == "Zombie" && current_character.can_attack_range?(gridfield) && current_character.action_points_left > 0 %>
                    <td style="background: url('<%= image_path gridfield.attack_graphic_url %>')">
                    <%= image_path('AttackTile.png') %><%= link_to image_tag(gridfield.character.graphic_url), attack_character_games_path(character_id: gridfield.character.id, id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'attack_character', method: :post %>
                    </td>
                  <% else %>
                    <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                    <%= image_tag(gridfield.character.graphic_url) %>
                    </td>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_character.team.player == current_player %>
                  <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                  <%= link_to image_tag(gridfield.character.graphic_url), unselect_character_games_path(id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'unselect_character', method: :post %>
                  </td>
                <% end %>
              <% end %>
            <% else %> 
              <td style="background: url('<%= image_path gridfield.graphic_url %>')">
              <%= image_tag gridfield.gridobject.graphic_url %>
              </td>
            <% end %>
          <% end %>
        <% else %>
          <% if gridfield.character == nil && gridfield.gridobject == nil %>
            <td style="background: url('<%= image_path gridfield.graphic_url %>')"></td>
          <% else %>
            <% if gridfield.character != nil %>
              <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                <%= image_tag(gridfield.character.graphic_url) %>
              </td>
            <% else %>
              <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                <%= image_tag gridfield.gridobject.graphic_url %>
              </td>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </tr>
  <% end %>
</table>