<div class="center">
<table class="spacing">
  <tr>
    <td>
      <table class= "table-bordered fixed">
        <% @gridfields.in_groups_of(30, false) do |row| %>
          <tr>
            <% row.each do |gridfield| %>
              <% if gridfield.character == nil && gridfield.gridobject == nil %>
                <% if current_character && current_character.can_move_to?(gridfield) %>
                  <td style="background: url('<%= image_path gridfield.graphic_url %>')"><%= link_to image_tag('X.png'), move_character_games_path(gridfield_id: gridfield.id), controller: 'games_controller', action: 'move_character', method: :post %></td>
                <% else %>
                  <td style="background: url('<%= image_path gridfield.graphic_url %>')"></td>
                <% end %>
              <% else %>
                <% if gridfield.character != nil %>
                  <% if current_character == gridfield.character %>
                    <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                    <%= link_to image_tag(gridfield.character.graphic_url), unselect_character_games_path(id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'unselect_character', method: :post %>
                    </td>
                  <% else %>
                    <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                    <%= link_to image_tag(gridfield.character.graphic_url), select_character_games_path(character_id: gridfield.character.id, id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'select_character', method: :post %>
                    </td>
                  <% end %>
                <% else %> 
                  <td style="background: url('<%= image_path gridfield.graphic_url %>')">
                  <%= image_tag gridfield.gridobject.graphic_url %>
                  </td>
                <% end %>
              <% end %>
          <% end %>
          </tr>
        <% end %>
      </table>
    </td>
    <td style="vertical-align:top">
      <div>
        <p><h4>Character Stats:</h4></p>
        <% if current_character %>
          <p>Life points: <%= current_character.life_points_left %></p>
          <p>Action points: <%= current_character.action_points_left %></p>
          <p>Character type: <%= current_character.char_type %></p>
          <p>Speed: <%= current_character.speed %></p>
        <% else %>
          <p>Life points:</p>
          <p>Action points:</p>
          <p>Character type:</p>
          <p>Speed:</p>
        <% end %>
      </span>
      </div>
    </td>
</div>

# Character summary - stats like hit points, action points etc
# Character without action points are unselectable
# Characters from the opposing team are unselectable
# When all characters have 0 points left after movement, switch current team's turn and refresh all action points for the new team's characters.
# Player can only do things when it's his/her turn
# Character can attack enemies